<ul class="nav nav-tabs">
  <%# <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li> %>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/converter">Converter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sign_up">Sign Up</a>
  </li>
</ul>