<h1>Reset your Password</h1>
<h2>Hi <%= params[:user].email %></h2>,

<p>Someone requested a reset of your password. If you made this request please click the link below to reset it.</p> 

<p>This link will expire in 15 minutes.</p>

<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>

<p>If you did not request this email please log into your account and reset your password there.</p>